@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  --color-primary: #151F4F;
}

.btn {
  @apply rounded-custom;
}

.translate-z-0 {
  transform: translateZ(0);
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
